body {
  margin: 0;
    font-family: 'Times New Roman', Times, serif;

  background-color: #FDF6EC;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table{
  background-color: #cff4fc;
}

thead{
  background-color: #f8d7da;
}


